:root {
    //Цвет для шрифтов
    --colorFonts: #222329;

    //Цвета
    --white: #fcfbfb;
    --lightWhite: #FFFFFF;

    --violet: #705EDC;
    --lightViolet: #BBB2EB;

    --gray: #6D6D70;
    --lightGray: #F3F3F3;

    //Цвет фона для тёмной темы
    --darkViolet: linear-gradient(121.09deg, rgba(28, 18, 49) 18.81%, rgba(0, 0, 0) 18.81%, rgba(28, 18, 49) 18.82%, rgba(21, 15, 34) 60.67%, rgba(0, 0, 0) 100%);

    // цвет квадратиков в кнопке открывающей меню  
    --navMenu-btn: #B5AFAF;

    // цвет бэкраунда у кнопки активной страницы
    // --colorBackBtnTabs: #F3F3F3;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--white);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 20px;
}

.dark-theme {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -10;
    transition: 0.6s;
    background: var(--darkViolet);
}

// .bg-block {
//     box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
//     // border-radius: 0px 25px 25px 0px;
// }

.--padding-page {
    padding: 50px 0 90px;   
    box-sizing: border-box;
}


main {
    height: 100%;
    // margin: 0 auto;
  
}

h1,
h2,
h3,
p,
a {
    font-family: 'Montserrat', sans-serif;
    color: var(--colorFonts);
    margin: 0;
    padding: 0;
    transition: 0.6s;
}

h2 {
    font-weight: 700;
    font-size: 48px;
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

a {
    text-decoration: none;
}
