.sidebar-active {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    &__container {
        height: 100vh;
        width: 235px;

        &-close {
            display: flex;
            justify-content: end;
            width: 90%;
            padding-top: 20px;
            cursor: pointer;
        }
    }

    &__nav {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;

        .menu {

            &-list {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 37px;

                &-item {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .drop-link {
                        opacity: 0;
                        transition: 0.3s;
                        transform: translateY(0px);
                        color: var(--colorFonts);
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                        font-size: 20px;
                    }
                }
            }

            &-link {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: var(--lightGray);
                border-radius: 25px;
                width: 100px;
                height: 100px;
                transition: .3s;

                & img {
                    width: 55px;
                    height: 55px;
                }

                &:hover {
                    background-color: var(--lightViolet);
                }

                &:hover+.drop-link {
                    opacity: 1;
                    transform: translateY(15px);
                }

                &.active-link {
                    background-color: var(--violet);
                }

                &-tg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #039BE5;
                    border-radius: 25px;

                    &:hover+.drop-link {
                        opacity: 1;
                        transform: translateY(15px);
                    }
                }

            }
        }
    }
}