.skills-page {
  display: flex;
  flex-direction: column;

  &__sub-title {
    font-weight: 500;
    font-size: 32px;
    color: #6D6D70;
  }

  .skills-container {
    left: 0;
    width: 100%;
    position: absolute;
    height: 60%;
    bottom: 175px;

    .skills-swiper {
      height: 100%;

      &-wrapper {
        .item {
          display: flex;
          flex-direction: column;
          gap: 30px;
          align-items: center;
          justify-content: center;

          h3 {
            font-weight: 500;
            font-size: 32px;
            color: #6D6D70;
          }

          .progress {
            position: relative;
            width: 300px;
            height: 300px;
            .text {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-family: sans-serif;
              font-size: 36px;
              font-weight: 700;
            }
            .svg {
              width: 100%;
              height: 100%;
              .path {
                width: 100%;
                height: 100%;
                fill: transparent;
                // fill: red;
                stroke: var(--violet);
                stroke-width: 8;
                transition: stroke-dashoffset 1000ms;
              }
            } 
          }
        }
      }
    }
  }
}